flag-time-fact.json
{
  "name": "flag-time-fact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2a8bd082-37fc-42ec-b8f8-25b6baa4e8e9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5d82ec9d-a0ca-4a53-87a3-c5716507272d",
      "name": "Webhook",
      "webhookId": "2a8bd082-37fc-42ec-b8f8-25b6baa4e8e9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        0
      ],
      "id": "97aea954-f150-4b2e-86b4-cebfa8643ed3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0248dac1-7e3d-4fd3-993e-11f3df9897ac",
              "name": "text",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "924cbcc8-f87e-423f-9994-3219c4ad3692",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You will receive a country.  You will return a cool fact about the K-Pop group Black Pink and this country.  Just return the fact, no weird sounding header.\n\nREturn the fact in English first, then return it in the lanugae of the coutry. ",
              "role": "system"
            },
            {
              "content": "={{ $json.body.country }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        180,
        0
      ],
      "id": "50fa9ef7-dd49-4f80-9a10-c97a082f7546",
      "name": "Write Black Pink Country Fact",
      "credentials": {
        "openAiApi": {
          "id": "8f1CEMp1T2mMcYwD",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Write Black Pink Country Fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Black Pink Country Fact": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c7165e7-5ccc-40ea-a275-7bdb62376a91",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d114b0bae45e4ccfb914aeae36fda20e570e12c91619f4a5e6b31a7239ef459e"
  },
  "id": "0HuVVtsXTLTRs3QN",
  "tags": []
}